.vscode
venv/
staticfiles/
farm/__pycache__/
farm/migrations/__pycache__/
farming/__pycache__/
farming/migrations/__pycache__/
account/__pycache__/
account/migrations/__pycache__/
input/__pycache__/
input/migrations/__pycache__/
task/__pycache__/
task/migrations/__pycache__/
weather/__pycache__/
weather/migrations/__pycache__/
app_config/__pycache__/
media/__sized__/
media/user-profile-images/
scripts/