asgiref==3.5.0
Babel==2.9.1
black==22.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
dj-database-url==0.5.0
Django==3.2.4
django-ckeditor==6.2.0
django-debug-toolbar==3.2.4
django-js-asset==2.0.0
django-phonenumber-field==6.1.0
django-prices==2.2.0
django-tinymce==3.4.0
django-widget-tweaks==1.4.12
enmerkar==0.7.1
flake8==4.0.1
gunicorn==20.1.0
idna==3.3
isort==5.10.1
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.9.0
phonenumberslite==8.12.43
platformdirs==2.5.1
prices==1.1.0
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pyflakes==2.4.0
pytz==2022.1
requests==2.27.1
sqlparse==0.4.2
tomli==2.0.1
urllib3==1.26.9
whitenoise==6.0.0
