{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block headContent %}

	{% include '../shared/styles.html' %} 
	{% include '../shared/scripts.html' %}

{% endblock %}

{% block title %}
Inventory Information
{% endblock title %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Inventory Information</h1>
</div>
<div class="content" style="margin-top: 20px">

	<button id="modelBtn" type="button" class="btn btn-primary mb-4 " data-bs-toggle="modal"
		data-bs-target="#inventoryModal">
		Add New Inventory
	</button>
	<!-- Add new Product Modal -->
	{% include './modals/add-inventory-modal.html' %}
	<!--  Add new Product  MODAL -->


	<!-- DATATABLE -->
	<div class="container">
		<table class="table table-striped display table-hover " id="table_id" style="width: 100%;">
			<thead>
				<tr>
					<th scope="col">Inventory name</th>
					<th scope="col">Inventory Ref. No</th>
					<th scope="col">Item Count</th>
					<th scope="col">Created on</th>
					<th scope="col">Updated on</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% if inventories %}
				{% for inventory in inventories %}
				<tr>
					<td> <a href="{% url "input:inventory-item-list" inventory.ref_code %}" style="text-decoration: none;">{{ inventory.name}}</a></td>
					<td>{{ inventory.ref_code }}</td>
					<td>{{ inventory.item_count }}</td>
					<td>{{ inventory.created_on }}</td>
					<td>{{ inventory.updated_on }}</td>
					<td>
						<button class="btn " id="delete" id="modelBtn" data-bs-toggle="modal"
							data-bs-target="#inventoryDeleteModal{{inventory.id}}" role="button"
							style="margin-left: 1px; color: red; font-size: 14px;">delete</button>
					</td>
					<!-- confirm delete modal -->
					<div class="modal fade" id="inventoryDeleteModal{{inventory.id}}" tabindex="-1"
						aria-labelledby="inventoryDeleteModal" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="inventoryDeleteModal">Delete Inventory</h5>
								</div>
								<div class="modal-body">
									<form action="{% url 'input:delete-inventory' inventory.ref_code %}" method="POST"
										class="mt-4">
										{% csrf_token %}
										<input type="checkbox" name="delete" id="delete"> Are sure you want to delete
										inventory: {{ inventory.name }}?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-danger">Delete</button>
								</div>
								</form>
							</div>
						</div>
					</div>
					<!-- end confirm delete modal -->
				</tr>
				{% endfor %}
				{% else %}
				<tr aria-colspan="5">
					<td></td>
					<td></td>
					<td colspan="5">
						No Inventory data in the database
					</td>
					<td></td>
					<td></td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
{% endblock main %}

{% block scripts %}

<script>
	$(document).ready(function () {
		$("#table_id").DataTable({
			columnDefs: [{
				orderable: false,
				className: 'focusedRow',
				target: 0
			}],
			select: {
				style: 'os',
			},
			scrollX: true,
			scrollY: "70vh",
			scrollCollapse: true,
			//responsive: true,
			paging: true,
			dom: "Bfrtip",
			orientation: "landscape",
			buttons: [{
					text: "Export PDF",
					extend: "pdfHtml5",
					messageTop: "Farm information report",
					exportOptions: {
						columns: [':visible']
					}
				},
				'colvis'
			],
		});
	});
</script>
{% endblock scripts %}