{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load options %}

{% block headContent %}
<style type="text/css">
	.inventory-name{
		text-transform: capitalize;
	}
</style>

{% endblock %}

{% block title %}
Product Information
{% endblock title %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h4">Inventory Items for: <span class="inventory-name">{{inventory_name}}</span> - {{ref_code}}</h1>
</div>
<div class="content" style="margin-top: 20px">
	<!-- Add new inventory item Modal -->
	<button id="modelBtn" type="button" class="btn btn-primary mb-4 " data-bs-toggle="modal"
		data-bs-target="#ItemModal">
		Add item
	</button>

	{% include './modals/add-inventory-item-modal.html' %}
	<!-- end Add new inventory item  MODAL -->

	<!-- DATATABLE -->
	<div class="container">
		<table class="table table-striped display table-hover " id="inventory_items" style="width: 100%;">
			<thead>
				<tr>
					<th scope="col">name</th>
					<th scope="col">Quantity</th>
					<th scope="col">Total Amount</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% if items %}
				{% for item in items %}
				<tr>
					<td>{{ item.input_product.name}}</td>
					<td>{{ item.quantity }}</td>
					<td>{{ item.get_total_cost }}</td>

					<td>
						<button class="btn " id="delete" id="modelBtn" data-bs-toggle="modal"
							data-bs-target="#itemDeleteModal{{item.id}}" role="button"
							style="margin-left: 1px; color: red; font-size: 14px;">delete</button>
					</td>
					<!-- confirm delete modal -->
					<div class="modal fade" id="itemDeleteModal{{item.id}}" tabindex="-1"
						aria-labelledby="itemDeleteModal" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="farmDeleteModal">Delete Inventory Item</h5>
								</div>
								<div class="modal-body">
									<form action="{% url 'input:delete-item' ref_code item.id %}" method="POST"
										class="mt-4">
										{% csrf_token %}
										<input type="checkbox" name="delete" id="delete"> Are sure you want to delete
										item: <a href="#">{{ item.input_product.name }}</a>  details?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-danger">Delete</button>
								</div>
								</form>
							</div>
						</div>
					</div>
					<!-- end confirm delete modal -->
					</tr>
				{% endfor %}
				{% else %}
				<tr aria-colspan="5">
					<td></td>
					<td></td>
					<td colspan="5">
						No Inventory items data in the database
					</td>
					<td></td>
					<td></td>
				</tr>
				{% endif %}

			</tbody>
		</table>
	</div>

	<h4 class="h5">TOTAL: {{inventory_total_cost}}</h4>
</div>

{% endblock main %}

{% block scripts %}

<script>
	$(document).ready(function () {
		$("#inventory_items").DataTable({
			columnDefs: [{
				orderable: false,
				className: 'focusedRow',
				target: 0
			}],
			select: {
				style: 'os',
			},
			scrollX: true,
			scrollY: "70vh",
			scrollCollapse: true,
			//responsive: true,
			paging: true,
			dom: "Bfrtip",
			orientation: "landscape",
			buttons: [{
					text: "Export PDF",
					extend: "pdfHtml5",
					messageTop: "Farm information report",
					exportOptions: {
						columns: [':visible']
					}
				},
				'colvis'
			],
		});
	});
</script>
{% endblock scripts %}