{% load static %}

<!-- JAVASCRIPT -->
<script type="text/javascript" src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables/dataTables.bootstrap5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables/dataTables.select.min.js' %}" defer></script>
<script type="text/javascript" src="{% static 'datatables/export/dataTables.buttons.min.js' %}" defer></script>
<script type="text/javascript" src="{% static 'datatables/export/pdfmake.min.js' %}" defer></script>
<script type="text/javascript" src="{% static 'datatables/export/vfs_fonts.js' %}" defer></script>
<script type="text/javascript" src="{% static 'datatables/export/buttons.html5.min.js' %}" defer></script>
<script type="text/javascript" src="{% static 'datatables/export/buttons.colVis.min.js' %}" defer></script>
<script type="text/javascript" src="{% static 'datatables/responsive/dataTables.responsive.min.js' %}" defer></script>