{% load widget_tweaks %}
{% load static %}

<div class="modal fade" id="seasonModal" tabindex="-1" aria-labelledby="AddNewSeasonDetailModel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="AddNewSeasonDetailModel">Add New Season</h5>

			</div>
			<div class="modal-body">
				<form action="{% url 'farming:home' %}" method="POST" class="mt-4">
					{% csrf_token %}
					<div class="form-group mb-2">
						<label for="name">Name</label>
						{% render_field form.name id="name" class="form-control" placeholder="Enter Farm name" %}
					</div>
					<div class="form-group mb-2">
						<label for="start_date">Start date</label>
						{% render_field form.start_date id="start_date" class="form-control" %}
					</div>
					<div class="form-group mb-2">
						<label for="end_date">End Date</label>
						{% render_field form.end_date id="end_date" class="form-control"%}
					</div>
					<div class="form-group mb-2">
						<label for="farm">Farm</label>
						{% render_field form.farm id="farm" class="form-select" placeholder="Enter Farm name" %}
					</div>
					<div class="form-group mb-2">
						<label for="crop">Crop Planted</label>
						{% render_field form.crop id="crop" class="form-select" placeholder="Enter Crop planted" %}
					</div>
					<div class="form-group mb-2">
						<label for="stage">
							<span class="me-2">Current stage </span> 
							<a href="#" data-bs-toggle="modal"
							data-bs-target="#stageModal"><img src="{% static 'icons/plus-square.svg' %}" alt="plus icon"> Add New stage</a>
						</label>
						{% render_field form.stage id="stage" class="form-select" placeholder="Enter Current stage" %}
					</div>
					<div class="form-group mb-2">
						<label for="yields">Yields</label>
						{% render_field form.yields id="yields" class="form-control" placeholder="Enter Yields" %}
					</div>
					<div class="form-group mb-2">
						<label for="yields_measurement">Yields Measurement</label>
						{% render_field form.yields_measurement id="yields_measurement" class="form-select" %}
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save changes</button>
			</div>
			</form>
		</div>
	</div>
</div>
